* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
}
.container {
    margin: 0 auto;
    width: 1140px;
}


.logo {
    padding-right: 37px;
    display: flex;
    align-items: center;
}


.logotext {
    display: flex;
    align-items: center;
    font-family: Lato;
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-top: auto;
    margin-bottom: 5px;
    padding-left: 13px;
}

.logoimg {
    display: flex;
    align-items: center;
}


.D {
    font-weight: 900;
    color: #f16d7f;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100px;
}

.leftheader {
     display: flex;
    align-items: center;
    text-align: center;
}

.rightheader {
   display: flex;
   align-items: center;
   text-align: center;
}

.form {
    display: inline-block;
    display: flex;
}

.search {
    width: 36px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 3px 3px 0px;
}

.searchicon {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #a4a4a4;
}

.Browse {
    width: 87px;
    height: 40px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
}

.buttontext {
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
}

.input {
    width: 280px;
    height: 38px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0px 0px 0 px 0px;
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    padding-left: 16px;
}

.account {
    display: flex;
    justify-content: center;
}

.myaccount {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    border-style: none;
}

.accounttext {
    font-family: Lato;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.cartimage {
    margin-right: 26px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.list-menu {
    position: relative;
}

.but-menu {
    font-family: Lato;
    line-height: 26px;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner {
    height: 613px;
    background: #e8e8e8;
}

.banner-part{
    height: 100%;
    background: url(images/image_frame_84.png);
    background-position: center;
    background-repeat: no-repeat;
}

.banner-text {
    margin-top: 224px;
    padding-left: 12px;
    border-left: 12px solid #f16d7f;
    float: left;
}

.brand {
    font-family: Lato;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    text-transform: uppercase;
}

.fashion {
    font-family: Lato;
    font-size: 40px;
    line-height: 45px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #222222;
    text-transform: uppercase;
}

.fashion-span {
    color: #f16d7f;
}

.cards {
    margin-top: 98px;
    display: flex;
}

.left_top_card {
    position: relative;
    margin-bottom: 20px;
    margin-right: 21px;
}

.left_bot_card {
    position: relative;
}

.right_top_card {
    position: relative;
    margin-bottom: 20px;
}

.right_bot_card {
    position: relative;
}

.textup {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.textdown {
    font-size: 30px;
    color: #f16d7f;
    font-family: Lato;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.cardhref {
    display: block;
}

.card1_text {
    padding: 16px 20px;
    background-color: white;
    position: absolute;
    top: 26px;
}

.card2_text {
    padding: 16px 18px;
    background-color: white;
    position: absolute;
    top: 41px;
}

.card3_text {
    background-color: white;
    position: absolute;
    top: 26px;
    padding: 16px 18px;
}

.card4_text {
    background-color: white;
    position: absolute;
    padding: 16px 20px;
    top: 27px;
}

.browse-menu {
    list-style: none;
}

.browse-list {
    position: relative;
}

.browse-box {
    display: none;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    z-index: 10000;
}

.browse-heading {
    width: 235px;
    text-align: start;
    border-bottom: 1px solid #e8e8e8;
}


.browse-link {
    display: block;
    text-decoration: none;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: start;
    width: 225px;
}

.browse-link:hover {
    color: #f16d7f;
}

.browse-list:hover .browse-box{
    display: flex;
}


.mega-box {
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 47px;
    display: none;
    
}


.mega-heading {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.mega-link {
    display: block;
    text-decoration: none;
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

.mega-link:hover {
    color: #f16d7f;
}

.mega-item {
    margin-right: 45px;
}

.mega-item:last-of-type {
    margin-right: 0;
}

.mega-box:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    position: absolute;
    top: -8px;
    left: 35px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.list-menu:hover .mega-box{
    display: flex;
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box:before {
    right: 55px;
    left: auto;
}

.col {
    margin-top: 21px;
}

.sale {
    margin-top: 17px;
    position: relative;
}

.supersale {
    position: absolute;
    font-family: Lato;
    font-size: 22px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    bottom: 14px;
    right: 26px;
}

.featured_items {
    margin-top: 100px;
    margin-bottom: 113px;
}

.feat_items {
    font-family: Lato;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #222222;
    text-align: center;
}

.shop_for {
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #9f9f9f;
    text-align: center;
    margin-bottom: 60px;
}

.mangotextbox {
    padding: 20px;
}

.mangotext {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: #222222;
    margin-bottom: 17px;
}

.price {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
}

.item-link {
    display: block;
    text-decoration: none;
}

.tshirt {
    position: relative;
}

.tshirt:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); 
}

.tshirt:hover .cart-box{
    display: flex;
}

.tshirt:hover .item-pic {
    filter: brightness(30%);
}

.cart-box {
    display: none;
    position: absolute;
    top: 98px;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

.cart-link {
    display: flex;
    padding: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    align-items: center;
}

.add-text {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-left: 8px;
}

.mango {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.mango:last-of-type {
    margin-bottom: 79px;
}

.mango_button {
    display: flex;
    justify-content: center;
}

.but_product {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    border-style: none;
}

.all_product {
    font-family: Lato;
    font-size: 16px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    align-items: center;
}

.biggest_banner {
    background-image: url(images/background_1311.png);
    background-color: #222224;
    height: 529px;
    display: flex;
    margin-bottom: 97px;
}

.left_banner {
    position: relative;
}

.womenbanner_text {
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    position: absolute;
    top: 146px;
    left: 39px;
}

.offerspan {
    font-family: Lato;
    font-size: 53.7px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
}

.womenbanner_bot_text {
    font-family: Lato;
    font-size: 32.2px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    position: absolute;
    left: 39px;
    bottom: 285px;
}

.right_banner {
    display: flex;
}

.right_banner_heading {
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-top: 48px;
    
    justify-content: space-between;
}

.right_banner_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: 36px;
    margin-bottom: 136px;
    margin-right: 35px;
}

.right_banner_text {
    display: flex;
    flex-direction: column;
}

.right_banner_parag {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    margin-top: 17px;
    margin-right: 23px;
}





.newsletter {
    width: 100%;
    background-image: url('images/backnews.png');
    height: 438px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.news {
    display: flex;
    margin-bottom: 110px;
}

.left_news {
    width: 50%;
    border-right: 1px solid #f16d7f;
    height: 438px;
}

.left_news_top {
    display: flex;
    justify-content: flex-start;
}

.ellipse {
    margin-top: 111px;
}

.left_news_mid {
    margin-top: 7px;
    margin-left: 110px;
}

.left_news_text {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #222224;
    margin-top: 111px;
    margin-right: 72px;
    margin-left: 28px;
}


.name {
    font-family: Lato;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    display: flex;
    justify-content: flex-start;
}

.name_bot {
    font-family: Lato;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #222224;
    display: flex;
    justify-content: flex-start;
}

.left_news_bot {
    display: flex;
    margin-top: 41px;
    justify-content: flex-end;
    margin-right: 319px;
}

.bar-side {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
}

.bar-side:hover {
    background-color: #f16d7f;
}

.bar-mid {
    width: 38px;
    height: 4px;
    background-color: #f16d7f;
    margin-right: 13px;
    margin-left: 13px;
}

.bar {
    width: 38px;
    height: 4px;
}

.right_news {
    width: 50%;
    height: 438px;
}

.right_news_text {
    margin-top: 138px;
}

.subscribe {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    text-align: center;
}

.for_our {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222224;
    text-align: center;
}

.right_news_buttons {
    display: flex;
    margin-top: 35px;
    margin-left: 92px;
}

.news_input {
    width: 282px;
    height: 46px;
    background-color: #e1e1e1;
    border-radius: 23px 0px 0px 23px;
    border-style: none;
    padding-left: 28px;
    opacity: 0.67;
    font-family: Lato;
    font-size: 14px;
    line-height: 54px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222224;
}

.news_button {
    width: 104px;
    height: 46px;
    background-color: #f16d7f;
    border-radius: 0px 23px 23px 0px;
    border-style: none;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.footer {
    display: flex;
}

.left_footer {
    margin-top: 120px;
    width: 40%;
}

.right_footer {
     margin-top: 120px;
     display: flex;
     width: 60%;
     margin-bottom: 89px;
}

.footer_block:first-of-type {
    margin-right: 90px;
    margin-left: 60px;
}

.mid_footer_block {
    margin-right: 92px;
}

.footer_block {
    width: 20%;
    display: flex;
    flex-direction: column;
}


.footer_header {
    font-family: Lato;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #f16d7f;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer_header:last-of-type {
    white-space: nowrap;
}

.footer_text {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #898989;
    text-decoration: none;
    line-height: 42px;
}

.footer_text:hover {
    color: #f16d7f;
}

.left_footer_uptext {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
    margin-top: 29px;
}

.left_footer_bottext {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #898989;
}

.social {
    background-color: #e6e6e6;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.social-text {
    font-family: Lato;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7a7a7a;
}

.social-text-pos {
    align-items: center;
    display: flex;
}